
<div class="container">

    <div class="section-title">
        <h2>Sobre</h2>
        <p>
            Olá, meu nome é fabio e sou um desenvolvedor full-stack apaixonado por tecnologia e pelo poder transformador que ela tem na sociedade.
            Com anos de experiência na área, me especializei em criar soluções inovadoras e eficientes para as mais diversas demandas de negócios.
        </p>
        <p>
            Se você está procurando um desenvolvedor full-stack capaz de entregar projetos de alta qualidade, dentro do prazo e do orçamento previstos, você está no lugar certo.
            Entre em contato comigo e vamos juntos criar soluções inovadoras e eficientes para o seu negócio.
        </p>
    </div>

    <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
            <img src="~/img/profile-img.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Desenvolvedor Web</h3>
            <p class="fst-italic">
                Meu foco principal como desenvolvedor web é criar experiências únicas e intuitivas para o usuário final.
                Eu acredito que a chave para o sucesso de qualquer projeto digital está em entender as necessidades dos usuários e criar soluções que atendam a essas necessidades de forma eficiente e agradável.
            </p>
            <div class="row">
                <div class="col-lg-5">
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <strong>Aniversário:</strong> <span>24 set 2000</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Telefone:</strong> <span>+55 986422678</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Cidade:</strong> <span>Barueri - SP, BR</span></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <strong>Idade:</strong> <span>22</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Grau:</strong> <span>Tecnólogo</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>fabiodesenvolvedor7@gmail.com</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponível</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <p>
            Além disso, sou um entusiasta da tecnologia e sempre busco estar atualizado sobre as tendências e novidades do mercado,
            isto me permite criar soluções digitais inovadoras e alinhadas com as necessidades e expectativas do mercado atual.
        </p>
        <p>
            Como desenvolvedor full-stack, tenho habilidades em diversas linguagens de programação e tecnologias, desde o front-end até o back-end
            e desta forma, sou capaz de desenvolver soluções completas e integradas, que oferecem uma experiência fluida e consistente aos usuários.
        </p>
    </div>

</div>
