@{
    ViewData["Title"] = "Fabio Setubal";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    @{
        await Html.RenderPartialAsync("About");
    }
</section><!-- End About Section -->

<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
    @{
        await Html.RenderPartialAsync("Facts");
    }
</section><!-- End Facts Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    @{
        await Html.RenderPartialAsync("Skills");
    }
</section><!-- End Skills Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    @{
        await Html.RenderPartialAsync("Resume");
    }
</section><!-- End Resume Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    @{
        await Html.RenderPartialAsync("Portfolio");
    }
</section><!-- End Portfolio Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    @{
        await Html.RenderPartialAsync("Services");
    }
</section><!-- End Services Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    @{
        await Html.RenderPartialAsync("Testimonials");
    }
</section><!-- End Testimonials Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    @{
        await Html.RenderPartialAsync("Contact");
    }
</section><!-- End Contact Section -->