<div class="container">

    <div class="section-title">
        <h2>Portfolio</h2>
        <p>
            Nesta seção de portfólio, você encontrará exemplos de trabalhos que realizei recentemente.
            São projetos que me permitiram aprimorar minhas habilidades e experiência em diversas áreas, desde desenvolvimento de websites até criação de aplicativos.
            Cada projeto apresentado aqui é único e foi desenvolvido com atenção aos detalhes e à satisfação do cliente.
            Espero que goste do que vê e que possamos trabalhar juntos em um projeto no futuro!
        </p>
    </div>

    <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Todos</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Sites</li>
                <li data-filter=".filter-web">Web-System</li>
            </ul>
        </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="~/img/portfolio/capa-portfolio/portfolio-1-header.png" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/img/portfolio/portfolio-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <a href="https://github.com/fabio-code-1/BurgerTime" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
                <img src="~/img/portfolio/capa-portfolio/portfolio-2-header.png" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/img/portfolio/portfolio-2.png" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                    <a href="https://github.com/fabio-code-1/Site-da-Nasa" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="~/img/portfolio/capa-portfolio/portfolio-3-header.jpeg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/img/portfolio/portfolio-3.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <a href="https://github.com/fabio-code-1/Projeto_Unip-C" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

    </div>

</div>