<div class="container">

    <div class="section-title">
        <h2>Resumo</h2>
        <p>Compartilho abaixo um resumo do meu histórico profissional e formação acadêmica para que você possa conhecer um pouco mais sobre minha trajetória e habilidades.</p>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumario</h3>
            <div class="resume-item pb-0">
                <h4>Fabio Setubal</h4>
                <p><em>Desenvolvedor Full-Stack com habilidades em várias linguagens de programação e experiência na criação de aplicações web.</em></p>
                <ul>
                    <li>Barueri, Sp</li>
                    <li>(+55) 98642-2678</li>
                    <li>fabiodesenvolvedorpro@gmail.com</li>
                </ul>
            </div>

            <h3 class="resume-title">Educação</h3>
            <div class="resume-item">
                <h4>Tecnólogo em Unip &amp; Analista e Desenvolvedor de sistemas</h4>
                <h5>2022 - 2023</h5>
                <p><em>Universidade Paulista - UNIP, São Paulo, Brasil</em></p>
                <p>Me aprimorando em desenvolvimento de sistemas e adquirindo conhecimentos na área de tecnologia na UNIP.</p>
            </div>
            <div class="resume-item">
                <h4>Tecnólogo em Uninove&amp; Sistemas para Internet</h4>
                <h5>2021 - 2023</h5>
                <p><em>Universidade Nove de Julho - UNINOVE, São Paulo, Brasil</em></p>
                <p>Buscando me especializar em desenvolvimento front-end e back-end, adquirindo conhecimentos na área de tecnologia na UNINOVE, enquanto também aprimoro minhas habilidades por meio de cursos online e projetos pessoais.</p>
            </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experiência Profissional</h3>
            <div class="resume-item">
                <h4>Desenvolvedor full-stack</h4>
                <h5>2023 - autônomo</h5>
                <p><em>Experiência, São Paulo, Sp </em></p>
                <ul>
                    <li>Desenvolvimento de websites responsivos utilizando HTML, CSS, JavaScript etc. </li>
                    <li>Criação de interfaces de usuário intuitivas e atraentes.</li>
                    <li>Integração de APIs e serviços de terceiros.</li>
                    <li>Implementação de testes automatizados e manutenção de código para garantir a qualidade do produto final.</li>
                </ul>
            </div>
            <div class="resume-item">
                <h4>Desenvolvedor front-end</h4>
                <h5>2023 - autônomo</h5>
                <p><em>Experiência, São Paulo, Sp</em></p>
                <ul>
                    <li>Criação de layouts responsivos e acessíveis para diferentes dispositivos e navegadores</li>
                    <li>Implementação de animações e interatividade utilizando tecnologias como HTML, CSS e JavaScript.</li>
                    <li>Testes rigorosos em diferentes navegadores e dispositivos para garantir a compatibilidade e usabilidade do site ou aplicativo web.</li>
                    <li>Otimização de performance de páginas para carregamento rápido e eficiente em diferentes dispositivos e conexões de internet.</li>
                </ul>
            </div>
        </div>
    </div>

</div>
