<div class="container">

    <div class="section-title">
        <h2>Serviços</h2>
        <p>
            Ofereço uma ampla gama de serviços para atender às suas necessidades de negócios.
            Desde o desenvolvimento de websites e aplicativos até a consultoria em tecnologia, estou pronto para ajudar a impulsionar o seu sucesso.
            Meu foco está em fornecer soluções personalizadas e eficazes para cada cliente, sempre com um compromisso com a qualidade e o prazo de entrega.
            Entre em contato para discutir como podemos trabalhar juntos para alcançar seus objetivos.
        </p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href="">Desenvolvimento de sites responsivos</a></h4>
            <p class="description">
                Ofereço serviços de desenvolvimento de sites responsivos, que se adaptam a diferentes tamanhos de tela e dispositivos,
                para garantir uma melhor experiência do usuário e aumentar o alcance do público.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-cart2"></i></div>
            <h4 class="title"><a href="">Desenvolvimento de lojas virtuais</a></h4>
            <p class="description">
                Desenvolvo lojas virtuais personalizadas e responsivas, que permitem aos clientes navegar pelos produtos e efetuar compras com facilidade e segurança.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-file-earmark-break"></i></div>
            <h4 class="title"><a href="">Criação de landing pages</a></h4>
            <p class="description">
                Ofereço serviços de criação de landing pages eficazes, que ajudam a converter visitantes em clientes, fornecendo informações claras e relevantes sobre seus produtos e serviços.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-server"></i></div>
            <h4 class="title"><a href="">Desenvolvimento de sistemas web</a></h4>
            <p class="description">
                Desenvolvo sistemas web personalizados para empresas e organizações, para automatizar processos e melhorar a eficiência e a produtividade.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Consultoria em tecnologia</a></h4>
            <p class="description">
                Ofereço serviços de consultoria em tecnologia, que ajudam a identificar e solucionar problemas em seus projetos de tecnologia, oferecendo soluções personalizadas e eficientes.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-gear-wide-connected"></i></div>
            <h4 class="title"><a href="">Manutenção de sistemas</a></h4>
            <p class="description"> oferecer serviços de manutenção e atualização de sistemas existentes, garantindo seu funcionamento adequado e aprimorando suas funcionalidades.</p>
        </div>
    </div>

</div>